@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Hei @Session["UserName"]!</h1>
	<p class="lead">
		Tämä on työpaikoille suunnattu sovellus, jonka tarkoituksena on edistää työpaikan ja erityisesti työntekijöiden hyvinvointia.
		Sovelluksen avulla pystyt tarkastelemaan omia tietojasi, antamaan palautetta työantajillesi sekä kertomaan päivän fiiliksesi.
	</p>
	@*<p><a href="~/Home/Palautteet" class="btn btn-primary btn-lg">Lue palautteita  &raquo;</a></p>*@ @*<-- jumbotronin button, tarvitaanko?*@
</div>

<div>
	Tähän hymiöt ja palautteenanto
</div>