@model Hyvinvointisovellus.Hymynaama

@{
	ViewBag.Title = "Home Page";

}
<div class="jumbotron">
	<h1>Omat tiedot</h1>
	<p class="lead">
		Tämä sivu on vielä tyhjä, mutta täällä pääset jatkossa tarkastelemaan tai muokkaamaan omia tietojasi.
	</p>
	@*<p><a href="~/Home/Palautteet" class="btn btn-primary btn-lg">Lue palautteita  &raquo;</a></p>*@ @*<-- jumbotronin button, tarvitaanko?*@
</div>

<div>
<input type="button" value="Takaisin etusivulle" class="btn-primary" style="margin-top: 50px" />
</div>

